# 禁止对 .gitattributes 文件进行行尾符转换
.gitattributes text eol=lf

# 禁用自动行尾符转换
* -text

# 对特定文件类型设置行尾符为 LF
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf
LICENSE text eol=lf
